PORT=3001
TON_WALLET_MNEMONIC="logic slow dinner private truth frequent daring shy tragic wave champion fashion spread occur thank verb issue cradle lawn embark lesson rookie devote can"
ESCROW_ADDRESS="EQ..."
